

<section ng-controller="DownloadCtrl as downloadCtrl">
    <div ng-repeat="document in downloadCtrl.info">
    <p class="preview" ng-show="downloadCtrl.getDisplay(document)">
        <img height="100" width="100" ng-src="{{document.previewPath}}"/><br>
        Title: {{document.TITLE}}<br>
        Province: {{document.PROVINCE}}<br>
        Grade: {{document.GRADE}}<br>
        Subject: {{document.SUBJECT}}<br>
        Average Rating: {{document.AVGRATING}}<br>
        <button type="button" ng-click="downloadCtrl.getMoreInfo(document.DOC_ID)">More Info</button>
        <button type="button" ng-click="downloadCtrl.displayAddCommentForm()">Add Comment</button>
    </p>
    </div>
    <div class="details" ng-show="downloadCtrl.moreInfo.display">
        <img height="100" width="100" ng-src="{{downloadCtrl.moreInfo.previewPath}}"/><br>
        Title: {{downloadCtrl.moreInfo.docData.title}}<br>
        Province: {{downloadCtrl.moreInfo.docData.province}}<br>
        Grade: {{downloadCtrl.moreInfo.docData.grade}}<br>
        Subject: {{downloadCtrl.moreInfo.docData.subject}}<br>
        Average Rating: {{downloadCtrl.moreInfo.docData.avgRating}}<br>
        Description: {{downloadCtrl.moreInfo.docData.description}}<br>

        <h2>COMMENTS</h2>
        <p ng-repeat="c in downloadCtrl.moreInfo.comments">
            Comment: {{c.comment}}<br>
            User: {{c.firstName}} {{c.lastName}}
        </p>
        <button type="button" ng-click="downloadCtrl.back()">Back to Search</button>

    </div>
    <div class="commentForm" ng-show="downloadCtrl.displayCommentForm">
        <p>Add a comment below</p>
        <form name="comment" ng-submit="comment.$valid && downloadCtrl.addComment()" novalidate>

            <textarea type="text" name="Comment" rows="10" cols="30" ng-model="downloadCtrl.comment" class="form-control" required></textarea>

            <input type="submit" class="form-control" value="Submit">


        </form>

    </div>

</section>