

<section ng-controller="DownloadCtrl as downloadCtrl">
    <div ng-repeat="document in downloadCtrl.info">
    <div class="preview" ng-show="downloadCtrl.getDisplay(document)">
        <br>
        Title: {{document.TITLE}}<br>
        Province: {{document.PROVINCE}}<br>
        Grade: {{document.GRADE}}<br>
        Subject: {{document.SUBJECT}}<br>
        Your Rating:{{document.rating}}
        <select id="document.DOC_ID" ng-init="document.rating" ng-model="document.rating">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select> <button type="button" ng-click="downloadCtrl.rateDoc(document.DOC_ID)">Rate  this Doc</button><br>
        <button type="button" ng-click="downloadCtrl.getMo"reInfo(document.DOC_ID)">More Info</button>
        <button type="button" ng-click="downloadCtrl.displayAddCommentForm(document.DOC_ID)">Add Comment</button>
    </div>
    </div>
    <div class="details" ng-show="downloadCtrl.moreInfo.display">
        <br>
        Title: {{downloadCtrl.moreInfo.TITLE}}<br>
        Province: {{downloadCtrl.moreInfo.PROVINCE}}<br>
        Grade: {{downloadCtrl.moreInfo.GRADE}}<br>
        Subject: {{downloadCtrl.moreInfo.SUBJECT}}<br>
        Average Rating: {{downloadCtrl.moreInfo.AVGRATING}}<br>
        Description: {{downloadCtrl.moreInfo.DESCRIPTION}}<br>

        <h2>Your Comments</h2>
        <p ng-repeat="c in downloadCtrl.moreInfo.comments" >
            <block ng-show="c.display">
                Comment:<br>
            <textarea  ng-model="c.COMMENT"> {{c.COMMENT}}</textarea>
            <br> <button type="button" ng-click="downloadCtrl.updateComment(c)">Update Comment</button>
                <button type="button" ng-click="downloadCtrl.deleteComment(c)">Delete Comment</button><br>
            </block>


        </p>
        <button type="button" ng-click="downloadCtrl.back()">Back to Search</button>

    </div>
    <div class="commentForm" ng-show="downloadCtrl.displayCommentForm">
        <p>Add a comment below</p>
        <form name="comment" ng-submit="comment.$valid && downloadCtrl.addComment()" novalidate>

            <textarea type="text" name="Comment" rows="10" cols="30" ng-model="downloadCtrl.comment" class="form-control" required></textarea>

            <button type="button" ng-click="downloadCtrl.cancelCommentForm()">Cancel</button>
            <input type="submit" class="form-control" value="Submit">


        </form>

    </div>

</section>