<section ng-controller="DocController as d">
    <h2>Grades</h2>
    <div class="dropdown">
        <a href="#">1-2</a>
        <div class="dropdown-content">
            <p><a ng-click="d.filter('grade', '1')" href="#">1st Grade</a></p>
            <p><a ng-click="d.filter('grade', '2')" href="#">2nd Grade</a></p>
        </div>
    </div><br>
    <div class="dropdown">
        <a href="#">3-5</a>
        <div class="dropdown-content">
            <p><a ng-click="d.filter('grade', '3')" href="#">3rd Grade</a></p>
            <p><a ng-click="d.filter('grade', '4')" href="#">4th Grade</a></p>
            <p><a ng-click="d.filter('grade', '5')" href="#">5th Grade</a></p>
        </div>
    </div><br>
    <div class="dropdown">
        <a href="#">6-8</a>
        <div class="dropdown-content">
            <p><a ng-click="d.filter('grade', '6')" href="#">6th Grade</a></p>
            <p><a ng-click="d.filter('grade', '7')" href="#">7th Grade</a></p>
            <p><a ng-click="d.filter('grade', '8')" href="#">8th Grade</a></p>
        </div>
    </div><br>
    <div class="dropdown">
        <a href="#">9-12</a>
        <div class="dropdown-content">
            <p><a ng-click="d.filter('grade', '9')" href="#">9th Grade</a></p>
            <p><a ng-click="d.filter('grade', '10')" href="#">10th Grade</a></p>
            <p><a ng-click="d.filter('grade', '11')" href="#">11th Grade</a></p>
            <p><a ng-click="d.filter('grade', '12')" href="#">12th Grade</a></p>

        </div>
    </div><br>

    <h2>Subject</h2>
    <div class="dropdown">
        <a href="#">Math</a>
        <div class="dropdown-content">
            <p><a ng-click="d.filter('subject', 'Math')" href="#">All</a></p>
            <p><a ng-click="d.filter('subject', 'Algebra')" href="#">Algebra</a></p>
            <p><a ng-click="d.filter('subject', 'Arithmetic')" href="#">Arithmetic</a></p>
            <p><a ng-click="d.filter('subject', 'Calculus')" href="#">Calculus</a></p>
            <p><a ng-click="d.filter('subject', 'Statistics')" href="#">Statistics</a></p>
        </div>
    </div><br>

    <div class="dropdown">
        <a href="#">Science</a>
        <div class="dropdown-content">
            <p><a ng-click="d.filter('subject', 'Physics')" href="#">Physics</a></p>
            <p><a ng-click="d.filter('subject', 'Chemistry')" href="#">Chemistry</a></p>
            <p><a ng-click="d.filter('subject', 'Biology')" href="#">Biology</a></p>
            <p><a ng-click="d.filter('subject', 'Computer Science')" href="#">Computer Science</a></p>
        </div>
    </div><br>

    <div class="dropdown">
        <a href="#">Social Studies</a>
        <div class="dropdown-content">
            <p><a ng-click="d.filter('subject', 'History')" href="#">History</a></p>
            <p><a ng-click="d.filter('subject', 'Geography')" href="#">Geography</a></p>
            <p><a ng-click="d.filter('subject', 'Psychology')" href="#">Psychology</a></p>
            <p><a ng-click="d.filter('subject', 'Law')" href="#">Law</a></p>
        </div>
    </div><br>

    <h2>Location</h2>
    <div class="dropdown">
        <a href="#">Canada</a>
        <div class="dropdown-content">
            <p><a ng-click="d.filter('province', 'BC')" href="#">BC</a></p>
            <p><a ng-click="d.filter('province', 'AB')" href="#">AB</a></p>
            <p><a ng-click="d.filter('province', 'SK')" href="#">AK</a></p>
            <p><a ng-click="d.filter('province', 'MB')" href="#">MB</a></p>
            <p><a ng-click="d.filter('province', 'ON')" href="#">ON</a></p>
            <p><a ng-click="d.filter('province', 'QC')" href="#">QC</a></p>

        </div>
    </div><br>
</section>