<section ng-controller="UploadCtrl as uploadCtrl">

    <form name="upload" enctype="multipart/form-data" ng-submit="upload.$valid && uploadCtrl.addDoc()" ng-show="!uploadCtrl.uploadSuccess" novalidate>

        File Description: <br>
        <textarea type="text" name="description" rows="10" cols="30" ng-model="docs.description" class="form-control" required></textarea>

        <p><input type="file" name="file" id="fileSelectorInput"  nv-file-select uploader="uploader" class="form-control"></p>

        <p>GRADES</p>

        <select class="form-control" name="grade" ng-model="docs.grade">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select><br><br>

        <p>Subject</p>

        <select class="form-control" name="subject" ng-model="docs.subject">
            <option value="Algebra">Algebra</option>
            <option value="Arthimetic">Arthimetic</option>
            <option value="Calculus">Calculus</option>
            <option value="Statistics">Statistics</option>
            <option value="Physics">Physics</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Biology">Biology</option>
            <option value="Computer Science">Computer Science</option>
            <option value="History">History</option>
            <option value="Geography">Geography</option>
            <option value="Psychology">Psychology</option>
            <option value="Law">Law</option>
        </select><br><br>

        <p>PROVINCE</p>

        <select class="form-control" name="subject" ng-model="docs.province">
            <option value="AB">AB</option>
            <option value="BC">BC</option>
            <option value="MB">MB</option>
            <option value="NB">NB</option>
            <option value="NL">NL</option>
            <option value="NT">NT</option>
            <option value="NS">NS</option>
            <option value="NU">NU</option>
            <option value="ON">ON</option>
            <option value="PE">NB</option>
            <option value="QC">QC</option>
            <option value="SK">SK</option>
            <option value="YT">YT</option>
        </select><br><br>

        <input type="submit" class="form-control" value="Submit">

    </form>
    <form name="uploaderPreview"  enctype="multipart/form-data" ng-show="uploadCtrl.uploadSuccess" ng-submit="uploaderPreview.$valid && uploadCtrl.uploadPreview()" novalidate>
        Do you wish to upload a preview of your document?

        <p><input type="file" name="image" id="previewSelector"  nv-file-select uploader="previewUploader" class="form-control"></p>
        <button type="button" ng-click="uploadCtrl.noPreview()">No Preview Image</button>
        <input type="submit" class="form-control" value="Submit">
    </form>


</section>